* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none
}

html {
    font-size: 62.5%
}

body {
    position: relative;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 1.5em;
    color: #222;
    background: #E5E4E2;
    line-height: 1;
}

a {
    text-decoration: none
}

ul {
    list-style: none
}

a,
p,
li {
    font-size: 1.6rem
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.6rem;
    border-bottom: 0.2rem solid #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin-left: 1.8rem;
    font-family: 'Barlow Condensed';
    font-size: 3.2rem;
}

.nav {
    margin-right: 2.4rem;
    display: flex;
    align-items: center;
}

.nav li {
    margin: 0 1.2rem;
}

.nav a {
    color: #888;
    font-family: 'Barlow Condensed';
    font-size: 1.8rem;
}

.nav a:hover {
    color: #222;
}

main {
    position: relative;
    width: 100%;
    padding-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 85%;
    max-width: 68rem;
}

h3 {
    font-family: 'Barlow Condensed';
    font-size: 2.4rem;
}

.form-entry {
    width: 100%;
    border-radius: 0.6rem;
    margin: 1.2rem 0;
    display: grid;
    grid-template-columns: 12rem 1fr;
}

.form-entry input {
    padding-left: 0.6rem;
}

.form-submit {
    width: 100%;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-submit input {
    padding: 1.2rem 1.8rem;
    border: 0.2rem solid #222;
    border-radius: 0.8rem;
}

.details-form .input {
    outline: 0;
    border: 0.1rem solid transparent;
    border-radius: 0.6rem;
    color: #222;
    background: transparent;
}

.details-form input:hover,
.details-form input:focus {
    border-color: #222;
    background: rgba(255, 255, 255, 0.8);
}

.items-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items-list li {
    width: 100%;
    display: flex;
    align-items: center;
}

.items-list li a {
    width: 100%;
    height: 2rem;
    padding-left: 0.8rem;
    border: 0.1rem solid #eee;
    color: #222;
    background: #eee;
    font-size: 1.8rem;
}

.items-list li a:hover {
    border-color: #222;
    background: #ddd;
}

.items-list li a:not(:first-of-type) {
    width: 8rem;
}

.non-link {
    pointer-events: none
}